# VS Code
.vscode/

# Data files
*.json
backend/chroma_db/

# Python
__pycache__/
*.pyc
.venv/

# Environment variables
.env
.env.local
.env.production

# SSH keys
*.pem
*.key

# Backend
backend/.env
backend/.env.local

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local

# Large JSON (download from arXiv manually)
arxiv-metadata-oai-snapshot.json
